.background {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .filter {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
  }
  .background2 {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(images/white_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin:0;
  }
.photos img{
    height:20%;
    width:20%;
}